.wpsRow {
  margin: auto 15%;
}

.wps-domains {
  list-style: none;
}

.wps-domains li {
  text-align: center;
}

.wps-domains {
  padding-left: 0px;
}

/* WPS Timeline */
#web {
  display: block;
}

#app,
#cc {
  display: none;
}

.timeline {
  max-width: 1200px;
  position: relative;
  margin: 30px auto auto auto;
  padding-top: 50px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: orange;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 300px;
}

/* .select-domain{
  margin: 100px auto 0px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.select-domain div{
  justify-content: space-evenly;
}

.select-domain div button{
  width: max-content;
  text-align: center;
} */

/* .domainToggleButton{
background-color: #255f85;
}
.domainToggleButton:focus {
outline: none !important;
background-color: #0062cc;
box-shadow: none;
}


.webwpsToggle{
background-color: #0062cc;
} */

.timeline-container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  margin: 20px 0px;

}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -16px;
  background-color: orange;
  border: 4px solid orange;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-content {
  padding: 30px;
  background-color: rgb(255,255,255, 0.9);
  text-align: center;
  border-radius: 25px;
}

.timeline-content p {
  text-align: left;
}

.time {
  position: absolute;
  top: 25px;
  margin: 0;
  padding: 16px 16px 10px 16px;
  /* border: 1px solid black; */
  z-index: 5;
  border-radius: 18px;
  /* -webkit-transition: 300ms linear;
-o-transition: 300ms linear;
transition: 300ms linear; */
  background-color: inherit;
}

.timeleft {
  left: -200px;
}

.timeright {
  right: -200px;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 33px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent orange;
}

.right::before {
  content: ' ';
  height: inherit;
  position: absolute;
  top: 32px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent orange transparent transparent;
}

.right::after {
  left: -16px;
}

/* FAQ */
#faq-section-header {
  color: black;
  text-align: center;
  font-weight: 600;
}

#faq-section-text {
  color: black;
  font-size: 18px;
  text-align: center;
}

#faq-container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.faq-section {
  /* justify-content: center; */
  padding: 40px;
  width: 55%;
}

.faq {
  background-color: white;
  padding: 1px 30px;
}

.faq:first-child {
  padding-top: 30px;
}

.faq:last-child {
  padding-bottom: 30px;
}

.question {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  border: none;
  width: 100%;
  text-decoration: none;
  background-color: transparent;
}

.question:hover {
  cursor: pointer;
}

.answer {
  max-height: 0;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
  color: black;
  font-size: 16px;
  margin: 15px 0px;
}

.showanswer {
  max-height: 500px;
  transition: max-height 0.45s ease-in;
  color: black;
  font-size: 16px;
  margin: 15px 0px;
}

/* Modal Popup */
.modal {
  z-index: 10;
  background-color: #fefefe;
  overflow: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 60%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .modal {
    width: 80%;
    height: 60%;
    min-width: 200px;
  }
}

/* Modal Content */
/* .modal-content {
  
  margin: auto;
  

  
} */

/* The Close Button */
.close {
  color: #aaaaaa;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#li-home {
  border-bottom: 0px solid red !important;
}

#li-home:hover {
  border-bottom: 3px solid #ea4335 !important;
}

.domainToggleButton {
  background-color: #255f85;
}

.domainToggleButton:focus {
  outline: none !important;
  box-shadow: none;
}


.webwpsToggle {
  background-color: #0062cc;
}

.select-dom {
  margin: 100px auto 0px auto;
}



/* making timeline responsive */

@media screen and (max-width: 770px) {
	.timeline::after {
		left: 31px;
	}

	.timeline-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.timeline-container::before {
		left: 60px;
		border-width: 10px 10px 10px 0;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.left::before {
		border-width: 10px 10px 10px 0;
		border-color: transparent orange transparent transparent;
	}

	.right {
		left: 0%;
	}

	.time {
		border: none;
		position: relative;
		width: 175px;
		margin: 10px auto;
	}
	.time h5 {
		font-size: 20px;
	}
	.timeright {
		right: 215px;
	}
	.timeleft {
		left: -215px;
	}

  /* styling knowmores */

  /* .knowmore{
    color: yellow;    
    text-align: center !important;
    margin-top: 50px !important;
  } */

  .left-align{
    text-align: left;
}

.right-align{
    text-align: left !important;
}
}
@media screen and (max-width: 760px){
	/* .time {
		border: 1px solid var(--time-border);
	} */
  .faq-section{
    width: 100%;
  }
}


@media screen and (max-width: 767px) {
	.timeright {
		right: 125px;
	}
	.timeleft {
		left: -125px;
	}
  #kickstart{
    margin: 0px 20px;
  }
}
@media screen and (max-width: 560px) {
	.timeright {
		right: 0px;
	}
	.timeleft {
		left: 0px;
	}
  .faq-section{
    width: 100%;
  }
  #kickstart{
    margin: 0px 40px;
  }
}

@media screen and (max-width: 395px) {
	.time {
		position: relative;
		max-width: 95%;
		margin: 10px;
	}

	.timeline-content {
		padding: 7px 12px;
		position: relative;
	}

	.timeline-content h3 {
		font-size: 25px;
	}

	.timeline-content p {
		font-size: 15px;
	}

	.timeline-container {
		width: 100%;
		padding-left: 57px;
		padding-right: 5px;
		padding-bottom: 30px;
	}
  .faq-section{
    width: 100%;
  }
  #kickstart{
    margin: 0px 40px;
  }
}
@media only screen and (max-width: 1199px) {
	
	.timeline-content h3 {
		font-size: 24px;
		text-align: center;
	}
}
@media only screen and (max-width: 991px) {
	.timeline-content h3 {
		font-size: 20px;
	}

	.time {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@media screen and (max-width: 396px) {
	.timeline-container::before {
		left: 46px;
	}
	.time {
		margin: auto;
	}
}

@media screen and (max-width: 403px) and (min-width: 396) {
	.timeline-container::before {
		left: 60px;
	}
  #kickstart{
    margin: 0px 20px;
  }
}

.whitecolor{
    color: white;
}

.blackcolor{
    color: #255f85;
}

.smallcase{
    text-transform: lowercase;
}

.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

.section-dark {
  width: 100%;
  background-color: #255f85;
  text-align: center;
  padding: 2%;
}

.vertical-height-2{
    min-height: 2em;
}

.vertical-height-5{
    min-height: 5em;
}

.inline{
    display: inline;
}

.float-center{
    float: center;
}

/* .domain-card{
    
} */